html,
body {
  height: 100%;
  margin: 0;
}
p {
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 90%;
  text-align: justify;
}

span {
  margin: 0 10px;
}

/*Registration Page css*/
main {
  margin-top: 1px;
}

label {
  display: block;
  margin-bottom: 5px;
  margin-right: 20px;
}

input,
button {
  margin-bottom: 10px;
  white-space: nowrap;
}

form {
  background-color: white;
  width: 90%;
  margin: 0 auto;
  padding: 30px;
  border: 1px solid black;
}

#submit-button {
  border: 2px;
  font-weight: bold;
  margin-top: 10px;
}
/*Login form*/
.login-form {
  background-color: white;
  width: 60%;
  margin: 0 auto;
  padding: 30px;
  border: 0px;
}

#Search-button {
  border: 2px;
  font-weight: bold;
  margin-top: 25px;
}
